/*
   PROYECTO COBALTECH
   Angie Lorena Clavijo Garcia
   Christian Alfredo León Rodriguez
   Leidy Patricia Quevedo Barreto
   ADSI 1786182
*/

/*Fuentes
*{
   font-family: Calibri, sans-serif;
}
/*Colores*/
#cobaltech{
   background-color: #008eff;
   color: #fff;
}

/*Contenedor grid*/
.contenedor{
   margin: 1rem;
   display: grid;
   grid-template-columns: 20% auto auto auto auto 20%;
   grid-template-rows: repeat(9, auto);
   grid-gap: 20px;
   justify-content: space-between;
   align-content: start;
}
header{
   grid-column: 1 / 7;
   grid-row: 1 / 2;
   display: flex;
   justify-content: space-around;
}
.menu{
   grid-column: 1 / 2;
   grid-row: 2 / 9;
}
main{
   grid-column: 2 / 6;
   grid-row: 2 / 9;
}
aside{
   grid-column: 6 / 7;
   grid-row: 2 / 9;
}
footer{
   grid-column: 1 / 7;
   grid-row: 9 / 10;
   display: flex;
   justify-content: center;
   align-items: center;
}
/*header*/
.logo{
   height: 50px;
   width: auto;
}
.search{
   margin: auto;
}
input{
   border-radius: 5px;
}
#search{
   width: 30rem;
}
.botonh{
   height: 50px;
   width: auto;
}
/*nav menu*/
li{
   list-style-type:none;
   position:relative;
}
ul li{
   background-color: #008eff;
   color: #fff;
   display: inline-block;
   padding: 5px;
   width: 220px;
   height: 30px;
}
li a{
   text-decoration: none;
   width: 220px;
   height: 30px;
   color: #fff;
}
li a:hover{
   columns: #acacac;
   background-color: #acacac;
}
ul li:hover{
   columns: #acacac;
   background-color: #acacac;
}
.menu li ul{
   display: none;
   position:absolute;
   z-index: 1;
   left: 82%;
   top: 0%;
}
.menu li:hover ul{
   display: inline-block;
}
/*slider*/
.slider{
   width: 95%;
   height: auto;
	margin: auto;
	overflow: hidden;
}
.slider ul{
	display: flex;
	padding: 0;
   width: 400%;
   height: auto;
	animation: cambio 15s infinite alternate linear;
}
.slider li{
   width: 100%;
   height: auto;
	list-style: none;
}
.slider img{
   width: 100%;
   height: auto;
}
@keyframes cambio{
	0% {margin-left: 0;}
	20% {margin-left: 0;}	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
/*footer*/
.logof{
   height: 25px;
   width: auto;
   margin-left: 5px;
}*/